body{
    font-family: 'Yusei Magic', sans-serif;

}
.penguin-color{
    color: #FABE4C;
}
.btn-color{
    background-color: #A4BC46;
    border-radius: 5px;
    
    color:white;
    width:auto;
    height:auto;
}
.size{
    font-size:70px;
}
.img-bg-color{
    background-color: #F1F1F1;
    border-radius: 30px;
    
}
.border-radius{
    border-radius:30px;
    border:0;
}
.img-size{
    width: 293px;
    height: 293px;
    margin-top: 40px;
    margin-left: 50px;
}
.bg-footer{
    border:0;
    background-color: white;
}