*{
    margin: 0;
    padding: 0;
}
:root{
    --default-theme-color: #00134c;
}
.img-width img{
    width:100%;
}
body{
    color: var(--default-theme-color,#00135c);
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    /* font-family: 'Oswald', sans-serif; */
}
.bg-purple {
   
    background-color: #FFFBF1;
}

.btn-success-light {
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 10px;
    color: #fff;
    /* background-color: #98B133; */
    background: linear-gradient(#98B133,#89B133);
    border-color: #98B133;
}
.font-size-lg{
    font-family: 'Oswald', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
}
.font-size-sm {
    font-size: 90%;
}
.font-emphasized {
    font-family: 'Oswald', sans-serif;
}



/* larger than laptop s */
@media (min-width:1200px){
    .btn-success-light {
        background: linear-gradient(#98B133,#89B133);
    }
}
/* laptop  */
@media (max-width:992px){
    .btn-success-light {
        background: linear-gradient(#98B133,#89B133);
    }
}

/* tablet  */
@media (max-width:768px){
    .btn-success-light {
        background: linear-gradient(#98B133,#89B133);
    }
}
/* smartphone  */
@media (max-width:576px){
    .btn-success-light {
        background: linear-gradient(#98B133,#89B133);
    }
}
/* button phone  */
@media (max-width:480px){
    .btn-success-light {
        background: linear-gradient(#98B133,#89B133);
    }
}

footer{
    text-align: center;
    font-weight: 700;
    display:block;
}
footer a{
    text-decoration: none;

}


